<section class="container-fluid d-none" id="gameZone">
    <div class="game-header py-1 px-3">
        <div class="d-flex align-items-center justify-content-between">
            <div class="round-info">
                <span id="roundDisplay">Round 1 of 3</span>
            </div>
            <div class="word-display text-center flex-grow-1">
                <span class="guess-label">DRAW THIS</span>
                <div id="wordDiv" class="word-underlines"></div>
            </div>
            <div class="timer-display">
                <span id="clock">0</span>
            </div>
        </div>
    </div>
    
    <div class="game-main-container">
        <div class="players-column">
            <div class="players-panel">
                <div class="players"></div>
            </div>
        </div>
        
        <div class="canvas-column">
            <div class="canvas-container position-relative">
                <div id="sketchpad"></div>
                <div class="tools-overlay">
                    <%- include('tools') %>
                </div>
            </div>
        </div>
        
        <div class="chat-column">
            <div class="chat-panel d-flex flex-column">
                <div class="messages flex-grow-1"></div>
                <form id="sendMessage" class="chat-input-form">
                    <input class="form-control chat-input" type="text" placeholder="Type your guess here...">
                </form>
            </div>
        </div>
    </div>
</section>
